<!-- templates/estudoa/coment_detail.html-->
{% extends 'eletronLab/home_eLab.html' %}

{% block title %}eLab Comentário {{ coment.codcoment }}{% endblock %}

{% block content %}
  <!-- Add additional CSS, img in static files -->
  {% load static %}
  
  {% if coment.assunto == 'ci' %}
	{% for ci in coment.ci_set.all %}
		<p id="parag1">{{ ci.codci }} - {{ ci.sobre }}</p>
	{% empty %}
		<p>Não há descrição</p>
	{% endfor %}
  {% else %}
	<p><span id="parag1">Comentário</span> 
		<span>&nbsp;&nbsp;&nbsp;</span>
		<span id="parag2"><a href="{{ coment.get_absolute_url }}/update">Editar...</a></span>
		<span>&nbsp;&nbsp;&nbsp;</span>
		<span id="parag2"><a href="{{ coment.get_absolute_url }}/delete">Apagar...</a></span>
	</p>
    <p><strong>Assunto:</strong> {{ coment.assunto }} </p> <!-- author detail link not yet defined -->
  {% endif %}	

  {% if coment.assunto == 'outro tema' %}
	<p><strong>Detalhe:</strong> <a href="{% url 'outro_tema' %}?outrotema={{ coment.detalhe }}">{{ coment.detalhe }}</a> </p>
  {% elif coment.assunto == 'ci' %}
	<p><a href="https://www.gpsgeologia.com.br/paginas/alvaro/eletronlab/ci/ci_{{ coment.detalhe }}.jpg"><strong>Desenho/esquema do ci</strong></a> </p>
  {% elif coment.assunto == 'projeto' %}
	<p><strong>Detalhe:</strong> <a href="https://www.gpsgeologia.com.br/paginas/alvaro/eletronlab/projetos/{{ coment.detalhe }}.jpg">{{ coment.detalhe }}</a> </p>
  {% else %}
	<p><strong>Detalhe:</strong> {{ coment.detalhe }} </p>
  {% endif %}	

  <div style="margin-left:20px;margin-top:20px">
	  {% if coment.assunto == 'ci' %}
		<p><strong>Abaixo a lista de circuitos/montagens em que o ci foi utilizado</strong> </p>
	  {% else %}
		<h4>Temas</h4>
	  {% endif %}	
	  <ul>
		{% for tc in coment.temacoment_set.all %}
		  <li>
			<a href="{{ tc.tema.get_absolute_url }}">{{ tc.tema.titulo }}</a> ({{ tc.tema.semana }}.{{ tc.tema.ordem }} - {{ tc.tema.categoria }}, {{ tc.tema.pagina }})<a href="https://www.gpsgeologia.com.br/paginas/alvaro/eletronlab/temas/tema{{ tc.tema.semana|stringformat:"02d" }}_{{ tc.tema.ordem }}.pdf"><img src="{% static 'res/' %}download2.jpg"></a>
		  </li>
			 {% empty %}
			 <p>Não há temas associados a este comentário.</p>
		{% endfor %}
	  </ul>
  </div>
{% endblock %}

{% block content1 %}
	<p>Faça o login para acessar o conteúdo.</p>
{% endblock %}
