<!-- templates/eletronLab/ci_home.html-->
{% extends 'eletronLab/home_eLab.html' %}

{% block title %}eLab Comentários com Infos{% endblock %}
<!-- Add additional CSS, img in static files -->
{% load static %}

{% block content %}
<p id="parag1">Infos complementares</p>
<ul>
	{% for i in object_list %}
	<li>
		<a href="{% url 'comentinfo-by-coment' codcoment=i.codcoment %}">
			{{ i.assunto }} :: {{ i.detalhe }}
		</a>
	</li>
	{% empty %}
	<li>Nenhuma info cadastrada.</li>
	{% endfor %}
</ul>
</br>
{% if is_paginated %}
  {% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
  {% endif %}
<span> {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} </span>
  {% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">próxima</a>
  {% endif %}
{% endif %}


{% endblock %}


{% block content1 %}
<p id="parag1">Infos complementares</p>
<ul>
	{% for i in object_list %}
	<li>
		<a href="{{ i.get_absolute_url }}">{{ i.assunto }}::{{ i.detalhe }}</a>
	</li>
	{% empty %}
	<li>Nenhuma info cadastrada.</li>
	{% endfor %}
</ul>
</br>
{% if is_paginated %}
  {% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
  {% endif %}
<span> {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} </span>
  {% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">próxima</a>
  {% endif %}
{% endif %}


{% endblock %}




