<!-- templates/estudoa/ci_detail.html-->
{% extends 'eletronLab/home_eLab.html' %}

{% block title %}eLab info {{ info.titulo }}{% endblock %}

{% block content %}
<!-- Add additional CSS, img in static files -->
{% load static %}

<p id="parag1">
    info: {{ info.titulo }}
    {% if info.sobre %}
    <br />
    sobre: {{ info.sobre }}
    {% endif %}
</p>

<!-- LISTA DE TEMAS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<div style="margin-left:20px;margin-top:20px">
    <p>
        <span id="parag1">Temas associados</span>
    </p>
    <ul>
        {% for tc in temas_page %}
        <li>
            <a href="{{ tc.tema.get_absolute_url }}">{{ tc.tema.titulo }}</a> :: ({{ tc.tema.semana }}.{{ tc.tema.ordem }} - {{ tc.tema.categoria }}, {{ tc.tema.pagina }})
            :: ({{ tc.data|date:"j/n/y - G:i" }})
            <a href="https://www.gpsgeologia.com.br/paginas/alvaro/eletronlab/temas/tema{{ tc.tema.semana|stringformat:"02d" }}_{{ tc.tema.ordem }}.pdf"><img src="{% static 'res/' %}download2.jpg"></a>
        </li>
        {% empty %}
        <p>Não há temas associados a este info.</p>
        {% endfor %}
    </ul>
    <!-- PAGINATOR DE TEMAS **************************************************************************************************************** -->
    {% if temas_page.has_other_pages %}
    {% if temas_page.has_previous %}
    <a href="?tpage={{ temas_page.previous_page_number }}
 		 {% if coments_page.number %}
			 &cpage={{ coments_page.number }}
		 {% endif %}
       ">previous</a>
    {% else %}
    previous
    {% endif %}

    Page {{ temas_page.number }} of {{ temas_page.paginator.num_pages }}

    {% if temas_page.has_next %}
    <a href="?tpage={{ temas_page.next_page_number }}
        {% if coments_page.number %}
            &cpage={{ coments_page.number }}
        {% endif %}
       ">next</a>
    {% else %}
    next
    {% endif %}
    {% endif %}
</div>

<!-- LISTA DE COMENTÁRIOS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<div style="margin-left:20px;margin-top:20px">


    <p>
        <span id="parag1">Comentários associados</span>
        <span>&nbsp;&nbsp;</span>
        <span id="parag2"><a href="{% url 'infocoment-create' %}?info={{ info.codinfo }}">+...</a></span>
        <span>&nbsp;&nbsp;</span>
        <span id="parag2"><a href="{% url 'infocoment-novo-create' %}?info={{ info.codinfo }}">novo</a></span>
    </p>




    <ul>
        {% for cc in coments_page %}
        {% if cc.coment.assunto == 'projeto' %}
        <li>
            <a href="{{ cc.coment.get_absolute_url }}">{{ cc.coment.assunto }}</a> ::
            <a href="https://www.gpsgeologia.com.br/paginas/alvaro/eletronlab/projetos/{{ cc.coment.detalhe }}.jpg">{{ cc.coment.detalhe }}</a>
            {% if cc.coment.obs %}
            :: {{ cc.coment.obs }}
            {% endif %}
            :: ({{ cc.data|date:"j/n/y - G:i" }})
            <a href="{% url 'infocoment_delete' cc.pk %}?next={{ request.get_full_path|urlencode }}">  <img src="{% static 'res/' %}delete.png"></a>
        </li>
        {% elif cc.coment.assunto == 'link' %}
        <li>
            <a href="{{ cc.coment.get_absolute_url }}">{{ cc.coment.assunto }}</a> ::
            <a href="{{ cc.coment.obs }}">{{ cc.coment.detalhe }}</a>
            :: ({{ cc.data|date:"j/n/y - G:i" }})
            <a href="{% url 'infocoment_delete' cc.pk %}?next={{ request.get_full_path|urlencode }}">  <img src="{% static 'res/' %}delete.png"></a>
        </li>
        {% else %}
        <li>
            <a href="{{ cc.coment.get_absolute_url }}">{{ cc.coment.assunto }} :: {{ cc.coment.detalhe }}</a>
            {% if cc.coment.obs %}
            :: {{ cc.coment.obs }}
            {% endif %}
            :: ({{ cc.data|date:"j/n/y - G:i" }})
            <a href="{% url 'infocoment_delete' cc.pk %}?next={{ request.get_full_path|urlencode }}">  <img src="{% static 'res/' %}delete.png"></a>
        </li>
        {% endif %}
        {% empty %}
        <p>Não há comentários associados a este info.</p>
        {% endfor %}
    </ul>
    <!-- PAGINATOR DE COMENTÁRIOS **************************************************************************************************************** -->
    {% if coments_page.has_other_pages %}
    {% if coments_page.has_previous %}
    <a href="?cpage={{ coments_page.previous_page_number }}
		 {% if temas_page.number %}
			 &tpage={{ temas_page.number }}
		 {% endif %}
		 ">
        previous
    </a>
    {% else %}
    previous
    {% endif %}

    Page {{ coments_page.number }} of {{ coments_page.paginator.num_pages }}

    {% if coments_page.has_next %}
    <a href="?cpage={{ coments_page.next_page_number }}
		 {% if temas_page.number %}
			 &tpage={{ temas_page.number }}
		 {% endif %}
		 ">
        next
    </a>
    {% else %}
    next
    {% endif %}
    {% endif %}
</div>



{% endblock %}



<a href="{% url 'infocoment-novo-create' %}?info={{ info.codinfo }}">Criar info/coment novo...</a>



{% block content1 %}
<p>Faça o login para acessar o conteúdo.</p>
{% endblock %}
