<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}fma´s Home{% endblock %}
<!-- Add additional CSS, img in static files -->
{% load static %}

{% block sidebar %}
	<br>
	<ul class="sidebar-nav">
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'home_cNum' %}">Números Complexos</a></li>
		<li><a href="https://www.gpsgeologia.com.br/paginas/alvaro/novavisio/Estrutura_topicos.htm">- números e funções</a></li>
		<li><a href="{% url 'home_cNum' %}">- gráficos 2D e 3D convencionais</a></li>
		<li><a href="{% url 'home_cNum' %}">- gráficos 3D e 4D de funções complexas</a></li>
		<li><a href="{% url 'home_cNum' %}">- funções complexas estudadas</a></li>
		
	</ul>
{% endblock %}

{% block content %}
	<h3>Números complexos</h3>
	<p>Bem vindo ao Estudo dos <em>números complexos</em>!</p>
	<h4>- números e funções</h4>
	<h4>- gráficos 2D e 3D convencionais</h4>
	<h4>- gráficos 3D e 4D de funções complexas</h4>
	<h4>- funções complexas estudadas</h4>
	<br>
{% endblock %}

{% block content1 %}
	<h3>Números complexos</h3>
	<p>Bem vindo ao Estudo dos <em>números complexos</em>!</p>
	<h4>- números e funções</h4>
	<h4>- gráficos 2D e 3D convencionais</h4>
	<h4>- gráficos 3D e 4D de funções complexas</h4>
	<h4>- funções complexas estudadas</h4>
	<br>
{% endblock %}


