<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Nova Visio Home{% endblock %}
<!-- Add additional CSS, img in static files -->
{% load static %}

{% block sidebar %}
	<br>
	<ul class="sidebar-nav">
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'home_cNum' %}">Números Complexos</a></li>
		<li><a href="{% url 'home_eLab' %}">Laboratório de Eletrônica</a></li>
	</ul>
{% endblock %}


{% block content %}
	<h2><a href="{% url 'home_cNum' %}">Números complexos</a></h2>
	<p>Bem vindo ao Estudo dos <em>números complexos</em>!</p>
	<h4>- Introdução:</h4>
	<h4>- Funções de uma variável complexa estudadas</h4>
	<br>
	<br>
	<br>
	<br>
	<h2><a href="{% url 'home_eLab' %}">Laboratório de Eletrônica</a></h2>
	<p>Bem vindo ao Laboratório de Eletrônica <em>GPS Geo</em>!</p>
	<h4>Informativos:</h4>
	<p>- Banco de dados:</p>
	<h4>Circuitos integrados estudados:</h4>
	<p>- ci1</p>
	<p>- ci2</p>
{% endblock %}

{% block content1 %}
	<h2><a href="{% url 'home_cNum' %}">Números complexos</a></h2>
	<p>Bem vindo ao Estudo dos <em>números complexos</em>!</p>
	<h4>- Introdução:</h4>
	<h4>- Funções de uma variável complexa estudadas</h4>
	<br>
	<br>
	<br>
	<br>
	<h2><a href="{% url 'home_eLab' %}">Laboratório de Eletrônica</a></h2>
	<p>Bem vindo ao Laboratório de Eletrônica <em>GPS Geo</em>!</p>
	<h4>Informativos:</h4>
	<p>- Banco de dados:</p>
	<h4>Circuitos integrados estudados:</h4>
	<p>- ci1</p>
	<p>- ci2</p>
{% endblock %}


