.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#fim_de_pagina1 {
		  margin: 0px 0px 50px 0px;
          }
#esquerda1 {
		left: 100px;
		margin: 100px 0px 0px 100px;
		font-size: 1pt;		
		}

/* parágrafo tipo um usado em coment-detail */
#parag1 {
		text-align: left;
		font-size: 20pt;
		}

		/* parágrafo tipo um usado em coment-detail */
#parag2 {
		text-align: left;
		background: #FFC;
		font-size: 12pt;
		}

		
/* CLASSES____________________________________________________________________________________________________________________________________________________ */
/* .logon {
		display: none;
        text-align: left;
		 top: 0px;
		 left: 5px;
        padding: 0px 0px 0px 0px;
		} */
